.button {
  width: 100%;
  position: relative;
  border: none;
  cursor: pointer;
  padding: 0;
  --button-border-radius: 12px;
  --top-offset: -6px;
  border-radius: var(--button-border-radius);
  background: #1a6b9a;
}

.button::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 20px;
  display: block;
  width: 48px;
  height: 6px;
  border-radius: 6px;
  background-color: #fff;
  z-index: 2;
  opacity: 0.9;
  pointer-events: none;
  transform: translateY(var(--top-offset));
}

.button::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #fff;
  z-index: 2;
  opacity: 0.9;
  pointer-events: none;
  transform: translateY(var(--top-offset));
}

.button:active {
  --top-offset: -2px;
}

.text {
  position: relative;
  border-radius: var(--button-border-radius);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: repeating-linear-gradient(
    45deg,
    #3ebbf7,
    #3ebbf7 5px,
    #45b1f4 5px,
    #45b1f4 10px
  );
  color: #fff;
  text-shadow: 3px 3px 0 #1a6b9a;
  padding: 8px 20px;
  font-family: "Carter One", system-ui;
  font-size: 28px;
  font-weight: bold;
  transform: translateY(var(--top-offset));
}
